<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
	
	<div th:replace="fragments/header :: header"/>
	
	<div class="container">
		
		<h1>Home page (Spring Security protected)</h1>
		
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		
		<a th:href="@{/admin}">Test Permissions</a>
		
		<form th:action="@{/logout}" method="post">
        	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <input type="submit" value="Sign Out"/>
        </form>
		
	</div>
	
	<div th:replace="fragments/footer :: footer"/>
	
</body>
</html>